{% extends "base.html" %}

{% block body %}

<div class="container-fluid">
    <h1>Lobby</h1>
    <div class="card">
        <div class="card-body msg_card_body">
            <div class="no-msg">No messages yet</div>
            <div class="message_holder" id="holder"></div>
        </div>
        <div class="card-footer">
            <form method="POST" id="form">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.msg(class="form-control", id="message", placeholder="Enter a message")}}
                </div>
        
                {{ form.send(class="btn btn-primary") }}
            </form>
        </div>
    </div>

    <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    ></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"
    ></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
    ></script>
    <script type="text/javascript">

        var socket = io.connect();

        socket.on( 'connect', function() {
            socket.emit( 'join', {
                user : '{{ user }}',
                room : '{{ room }}'
            });

            let user_input = document.getElementById('message');

            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault()
                socket.emit( 'my event', {
                    user : '{{ user }}',
                    room : '{{ room }}',
                    message : user_input.value
                } )
                user_input.value = '';
                user_input.focus();
            };
        });
        
        socket.on('my response', function(msg) {
            console.log(msg)
            if( typeof msg.message !== 'undefined' ) {
                $('div.no-msg').remove();

                if (msg.user == '{{ user }}') {
                    $('div.message_holder').append('<div class="d-flex justify-content-end mb-4" id="' + msg.id + '"><div class="msg-container">' + msg.message + '<span class="self">You</span></div></div>');
                } else {
                    $('div.message_holder').append('<div class="d-flex justify-content-start mb-4" id="' + msg.id + '"><div class="other-msg">' + msg.message + '<span class="others">' + msg.user + '</span></div></div>');
                }
                
                function setFocusOnDivWithId(elementId) {
                    const scrollIntoViewOptions = { behavior: "smooth", block: "center" };
                    document.getElementById(elementId).scrollIntoView(scrollIntoViewOptions);
                };
            }
        })
    </script>

</div>

{% endblock %}